.header {
  width: 100%;
  height: 77px;
  background-color: #D1C8B7;
}

.main {
  width: 935px;

  background-color: #D1C8B7;
  margin: auto;
 }

.line {
  width: 935px;
  display: flex;
  justify-content: space-between;
}
.picture {
  width: 293px;
  height: 293px;
  background-color:#f441ca;
  margin: 5px;
  mar
}
body {background-image: url(fon.jpg);}
.picture img {
  width: 100%; height: 100%;
} /* иерархия силекторов*/
